<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/#intro">{% t pages.about %}</a></li>
            <li><a href="{{ site.baseurl }}/products">{% t pages.products %}</a></li>
            <li><a href="{{ site.baseurl }}/contact">{% t pages.contact %}</a></li>
          </ul>
        </div>
        <p>&copy; Copyright 2016. Cat Vu Co. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
